.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  padding: 2%;
  height: 55vh;
  align-items: center;
  background-color: #264653;
}

.header > h1 {
  width: 100%;
  text-align: start;
  margin: 2%;
  color: rgb(255, 255, 255);
  line-height: 1.38;
  flex-grow: 3;
  padding-right: 2%;
}

.header > div > p {
  margin: auto;
  padding: 1%;
  color: #fff;
  border-left: azure 1px solid;
  flex-grow: 1;
  padding-left: 3%;
}

.highlighted {
  background: url("./assets/brush-or.png");
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0;
  }

h1 {
  font-family: 'Rubik', sans-serif;
}

h4 {
  font-family: 'Martel', serif;
}
p {
  font-family: 'Rubik', sans-serif;
}
.mapArea {
  background-color: #FFF8F1;
  padding-top: 10%;
}


.pulseBtn {
  padding: 15px 27px;
  background-color: #1c2a30;
  color: hsl(243, 80%, 92%);
  border-radius: 50px;
  box-shadow: 2px 3px 1px 1px rgba(246, 127, 120, .8);
  
  border: none;
  position: absolute;
  left: 48%;
  top: 55%;
}

.pulseBtn > span > a {
  text-decoration: none;
  color: #FFF8F1;
  font-family: 'Rubik', sans-serif;
  font-weight: 1.5;
}

@media only screen and (min-width: 800px) {
  .pulseBtn {
    top: 56%;
  }
}